:root{
    --bg-button: wheat;
    --border-button: 1px solid grey;
}

.button{
    font-size:1.4rem;
    background-color: var(--bg-button);
    border: none;
    border-right: var(--border-button);
    border-bottom: var(--border-button);
    outline: none;
}

.button:active{
    background-color: #ccc;
}

.button.double{
    grid-column: span 2;
}

.button.triple{
    grid-column: span 3;
}

.button.operation{
    background-color: orange;
    color: #fff;
}

.button.operation:active{
    background-color: #f7731bcc;
}